<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Orçamentos</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/home">home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/orcamentos">Listar
						Orçamentos</a></li>
				<li class="nav-item"><a class="nav-link" href="/criarOrcamento">Criar
						Orçamento</a></li>
				<li class="nav-item"><a class="nav-link" href="/search">Buscar
						Orçamento</a></li>
				<li class="nav-item"><a class="nav-link float-right"
					href="/logout">logout</a></li>
			</ul>
		</div>
	</nav>
	<hr />
	<br />
	<div class="container">
		<form method="post" th:action="@{/editarOrcamento}"
			th:object="${orcamento}" class="mb-3">
			<input type="hidden" th:field="${orcamento.id}"> <input
				type="hidden" th:field="${orcamento.nomeVendedor}"> <input
				type="hidden" th:field="${orcamento.dataCriacao}"> <input
				type="hidden" th:field="${orcamento.dataExpiracao}">


			<div class="card">

				<div class="card-header">Sistema de orçamentos</div>
				<div class="card-body">
					<div class="row justify-content-center">
						<h5 class="card-title">Informações Gerais</h5>
					</div>

					<div class="form-group row">
						<label for="nomeCliente" class="col-md-2 text-right text-muted">Nome
							do cliente</label>

						<div class="col-md-10">
							<input type="text" class="form-control form-control-sm" id="name"
								name="name" th:field="${orcamento.nomeCliente}"
								placeholder="nome do cliente" th:errorclass="is-invalid">
							<div th:if="${#fields.hasErrors('nomeCliente')}"
								class="invalid-feedback" th:errors="*{nomeCliente}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label for="endereco" class="col-md-2 text-right text-muted">Endereço</label>
						<div class="col-md-10">
							<input type="text" class="form-control form-control-sm"
								id="endereco" name="endereco" th:field="${orcamento.endereco}"
								placeholder="endereço" th:errorclass="is-invalid">
							<div th:if="${#fields.hasErrors('endereco')}"
								class="invalid-feedback" th:errors="*{endereco}"></div>
						</div>
					</div>


					<div class="form-group row">
						<label for="obs" class="col-md-2 text-right text-muted">Observações</label>
						<div class="col-md-10">
							<input type="text" class="form-control form-control-sm" id="obs"
								name="obs" th:field="${orcamento.obs}" placeholder="observações"
								th:errorclass="is-invalid">
							<div th:if="${#fields.hasErrors('obs')}" class="invalid-feedback"
								th:errors="*{obs}"></div>

						</div>
					</div>
					<div class="form-group row">

						<label for="validade" class="col-md-2 text-right text-muted">Validade
							da proposta</label>
						<div class="col-md-2">
							<input type="number" class="form-control form-control-sm"
								id="validade" name="validade" min="0" max="120" step="1"
								th:field="${orcamento.validade}" placeholder="validade"
								th:errorclass="is-invalid">
							<div th:if="${#fields.hasErrors('validade')}"
								class="invalid-feedback" th:errors="*{validade}"></div>
						</div>


						<label for="valorTotal" class="col-md-2 text-right text-muted">Valor
							total</label>
						<div class="col-md-2">
							<input readonly type="number"
								class="form-control form-control-sm" id="valorTotal"
								name="valorTotal" th:field="${orcamento.valorTotal}"
								placeholder="valorTotal" th:errorclass="is-invalid">
						</div>

					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header dynamic-update-rows">
					Pedidos

					<button type="button" name="addPedido"
						class="btn btn-sm btn-success float-right"
						data-dynamic-update-rows-url="/addPedido">
						<i class="fas fa-plus"></i>
					</button>

				</div>
				<div class="card-body">

					<table class="table dynamic-update-rows" style="width: 100%">

						<tbody id="dynamicTableContents">
							<tr th:fragment="pedidos"
								th:each="pedido,rowStat : ${pedidoDto.getPedidos()}">
								<td th:text="${rowStat.count}">1</td>
								<td><label for="prod">Produto</label> <input type="hidden"
									th:field="${orcamento.pedidoList[__${rowStat.index}__].id}">
									<select id="prod" class="form-control form-control-sm"
									th:field="${orcamento.pedidoList[__${rowStat.index}__].nomeProduto}"
									th:errorclass="is-invalid">
										<option selected="selected" readonly value="">Escolha
											um produto</option>
										<option value="Maça">Maça</option>
										<option value="Graviola">Graviola</option>
										<option value="Manga">Manga</option>
										<option value="Limão">Limão</option>

								</select>
									<div
										th:if="${#fields.hasErrors('${orcamento.pedidoList[__${rowStat.index}__].nomeProduto}')}"
										class="invalid-feedback"
										th:errors="${orcamento.pedidoList[__${rowStat.index}__].nomeProduto}"></div>
								</td>
								<td><label for="qtd">Quantidade</label> <input id="qtd"
									type="number" min="1" max="100000" step="1"
									class="form-control form-control-sm"
									th:field="${orcamento.pedidoList[__${rowStat.index}__].qtd}"
									th:errorclass="is-invalid" placeholder="quantidade" />

									<div
										th:if="${#fields.hasErrors('${orcamento.pedidoList[__${rowStat.index}__].qtd}')}"
										class="invalid-feedback"
										th:errors="${orcamento.pedidoList[__${rowStat.index}__].qtd}">
									</div></td>





								<td><label for="preco">Preço Unidade</label> <input
									id="preco" type="number" min="0" max="1000000" step="0.01"
									class="form-control form-control-sm"
									th:field="${orcamento.pedidoList[__${rowStat.index}__].precoUnitario}"
									th:errorclass="is-invalid" placeholder="preço" />

									<div
										th:if="${#fields.hasErrors('${orcamento.pedidoList[__${rowStat.index}__].precoUnitario}')}"
										class="invalid-feedback"
										th:errors="${orcamento.pedidoList[__${rowStat.index}__].precoUnitario}">
									</div></td>

								<td><label for="desconto">Desconto %</label> <input
									id="desconto" type="number" min="0" max="100"
									class="form-control form-control-sm"
									th:field="${orcamento.pedidoList[__${rowStat.index}__].desconto}"
									th:errorclass="is-invalid" placeholder="desconto %" />

									<div
										th:if="${#fields.hasErrors('${orcamento.pedidoList[__${rowStat.index}__].desconto}')}"
										class="invalid-feedback"
										th:errors="${orcamento.pedidoList[__${rowStat.index}__].desconto}">
									</div></td>

								<td><label for="precoTotalComDesconto">Total</label> <input
									id="precoTotalComDesconto" type="number" readonly
									class="form-control form-control-sm"
									th:field="${orcamento.pedidoList[__${rowStat.index}__].precoTotalComDesconto}"
									th:errorclass="is-invalid" placeholder="total" />
								<td>
								<td>
									<div class="btn-group">
										<button type="button" name="removeDynamicRow"
											th:value="${rowStat.index}" class="btn btn-sm btn-danger"
											data-dynamic-update-rows-url="/removePedido">
											<i class="far fa-trash-alt"></i>
										</button>

									</div>
								</td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="row justify-content-center">
				<div th:if="${errorMessage}"
					class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erro:</strong> <span th:text="${errorMessage}">Erro</span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div th:if="${successMessage}"
					class="alert alert-success alert-dismissible fade show"
					role="alert">
					<strong>Sucesso:</strong> <span th:text="${successMessage}">Successo</span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<span><a th:href="@{/orcamentos}"
						class="btn btn-sm btn-primary ml-2 mr-2"><i
							class="fas fa-list-ol"></i> Ir para Lista de Orcamentos</a></span>
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-block">Calcular
				descontos e Enviar</button>
			<hr />
			<br />

		</form>
	</div>



	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/rowDinamicaPedido.js}"></script>
</body>
</html>